apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-quarkus-odmuoynx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-quarkus-odmuoynx:80fd82c04189c9b017edd950d04ded3845bd201c@sha256:31d13e260e64a7785a6920af23fe99a9d8420d0b47a4e9fcedd655c6c89a1bd6
          name: container-image
